<launch>
  <arg name="drixNumber"/>
  <arg name="namespace" default="project11/drix_$(arg drixNumber)"/> 
  <arg name="localPort" default="4200"/>
  <arg name="operator_ip" default="192.168.$(arg drixNumber).180"/>
  <arg name="operator_port" default="4200"/>
  <arg name="mesobot_namespace" default="project11/mesobot"/>
  <arg name="nui_namespace" default="project11/nui"/>
  <arg name="logDirectory"/>

  <!-- acoustic address or transponder number -->
  <arg name="mesobot_address" default="2509"/>
  <arg name="mesobot_backup_address" default="2712"/>

  <arg name="nui_address" default="5501"/>
  <arg name="nui_backup_address" default="2411"/>

  <include file="$(find drix_project11)/launch/drix_core.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="localPort" value="$(arg localPort)"/>
    <arg name="operator_ip" value="$(arg operator_ip)"/>
    <arg name="operator_port" value="$(arg operator_port)"/>
  </include>

  <node pkg="mesobot_project11" type="mesobot_node.py" name="mesobot" ns="$(arg mesobot_namespace)">
    <remap from="sms" to="/$(arg namespace)/usbl_modem/received_sms"/>
    <remap from="position" to="/$(arg namespace)/usbl_ranger/positions/$(arg mesobot_address)"/>
    <remap from="backup_position" to="/$(arg namespace)/usbl_ranger/positions/$(arg mesobot_backup_address)"/>
  </node>
  <rosparam command="load" file="$(find drix_project11)/config/mesobot.yaml" ns="$(arg namespace)"/>
  <node pkg="mesobot_project11" type="ctd.py" name="ctd" ns="$(arg mesobot_namespace)">
    <remap from="raw" to="/$(arg namespace)/usbl_modem/raw"/>
    <remap from="send_sms" to="/$(arg namespace)/usbl_modem/send_sms"/>
  </node>

  <include file="$(find drix_project11)/launch/simrad_ek80.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg namespace)/sensors/ek80"/>
    <arg name="range" value="500"/>
  </include>


  <!-- <node pkg="nui_project11" type="nui_node.py" name="nui" ns="$(arg nui_namespace)">
    <remap from="sms" to="/$(arg namespace)/usbl_modem/received_sms"/>
    <remap from="position" to="/$(arg namespace)/usbl_ranger/positions/$(arg nui_address)"/>
    <remap from="backup_position" to="/$(arg namespace)/usbl_ranger/positions/$(arg nui_backup_address)"/>
  </node> -->
  <!-- <rosparam command="load" file="$(find drix_project11)/config/nui.yaml" ns="$(arg namespace)"/>
  <node pkg="nui_project11" type="udp_to_string.py" name="nui_telegrams" ns="$(arg namespace)">
    <remap from="output" to="usbl/telegrams"/>
  </node> -->

  <node pkg="drix_project11" type="geopose_to_asv" name="geopose_to_asv" ns="$(arg mesobot_namespace)">
    <remap from="input" to="nav/position"/>
  </node>

  <!-- <node pkg="drix_project11" type="geopose_to_asv" name="geopose_to_asv" ns="$(arg nui_namespace)">
    <remap from="input" to="nav/position"/>
  </node> -->

  <node pkg="rosbag" type="record" name="project11_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/project11 --split --duration=10m --lz4 -e &quot;/project11/(.*)&quot;"/>
</launch>
