<launch>
  <arg name="drixNumber"/>
  <arg name="drixName" default="drix_$(arg drixNumber)"/>
  <arg name="namespace" default="project11/$(arg drixName)"/> 
  <arg name="localPort" default="4200"/>
  <arg name="operator_ip" default="192.168.$(arg drixNumber).180"/>
  <arg name="operator_port" default="4200"/>
  <arg name="logDirectory"/>

  <arg name="with_mesobot" default="true"/>
  <arg name="mesobot_namespace" default="project11/mesobot"/>
  <arg name="mesobot_address" default="2509"/>
  <arg name="mesobot_backup_address" default="2712"/>

  <include file="$(find drix_project11)/launch/drix_core.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="drixName" value="$(arg drixName)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="localPort" value="$(arg localPort)"/>
    <arg name="operator_ip" value="$(arg operator_ip)"/>
    <arg name="operator_port" value="$(arg operator_port)"/>
    <arg name="with_mesobot" value="$(arg with_mesobot)"/>
    <arg name="mesobot_namespace" value="$(arg mesobot_namespace)"/>
    <arg name="mesobot_address" value="$(arg mesobot_address)"/>
    <arg name="mesobot_backup_address" value="$(arg mesobot_backup_address)"/>
  </include>

  <node pkg="drix_helm" type="drix_helm_node" name="drix_helm" ns="$(arg namespace)">
    <param name="frame_id" value="$(arg namespace)/base_link"/>
  </node>

  <node pkg="ixblue_phins_adapter" type="ixblue_phins_adapter_node" name="phins_adaptor" ns="$(arg namespace)">
    <param name="frame_id" value="$(arg namespace)/base_link"/>
  </node>

  <node pkg="drix_helm" type="range_to_mothership" name="range_bearing" ns="$(arg namespace)">
  </node>

  <group ns="$(arg namespace)/sensors/ais">
    <node pkg="marine_ais_tools" type="ais_parser.py" name="parser">
    </node>

    <node pkg="marine_ais_tools" type="ais_contact_tracker.py" name="tracker">
    </node>

    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="navsat">
      <remap from="nmea_sentence" to="nmea"/>
    </node>
  </group>

  <node pkg="marine_ais_tools" type="nmea_relay.py" name="ais_relay" ns="$(arg namespace)">
    <param name="input_type" value="udp"/>
    <param name="input_port" value="4010"/>
  </node>

  <include file="$(find drix_project11)/launch/usbl.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>
  
  <rosparam param="project11/platforms/$(arg drixName)/nav_sources/phins" ns="$(arg namespace)" subst_value="True">{position_topic: /$(arg namespace)/project11/nav/phins/position, orientation_topic: /$(arg namespace)/project11/nav/phins/orientation, velocity_topic: /$(arg namespace)/project11/nav/phins/velocity}</rosparam>


  <include file="$(find drix_project11)/launch/simrad_ek80.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg namespace)/sensors/ek80"/>
    <arg name="range" value="500"/>
    <arg name="frame_id" value="$(arg namespace)/ek80"/>
  </include>

  <node pkg="biospherical_par_sensor" type="par_sensor.py" name="par_sensor" ns="$(arg namespace)/sensors/par"/>

  <node pkg="rosbag" type="record" name="project11_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/project11 --split --duration=10m --lz4 -e &quot;/project11/(.*)&quot;"/>
</launch>
