<launch>
  <arg name="drixNumber" default="1"/>
  <arg name="namespace" default="project11/drix_$(arg drixNumber)"/> 
  <arg name="localPort" default="4200"/>

  <include file="$(find drix_project11)/launch/drix.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="localPort" value="$(arg localPort)"/>
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="logDirectory" value="/dev/null"/>
    <arg name="operator_ip" value="172.16.0.1"/>
    <arg name="operator_port" value="4201"/>
  </include>
</launch>
