<launch>
  <arg name="namespace" default="project11/drix"/> 
  <arg name="localPort" default="4200"/>

  <node pkg="drix_helm" type="drix_helm_node" name="p11_drix_helm" ns="$(arg namespace)"/>

  <rosparam command="load" file="$(find drix_project11)/config/drix.yaml" ns="$(arg namespace)"/>

  <node pkg="udp_bridge" type="udp_bridge_node" name="p11_udp_bridge" ns="$(arg namespace)">
    <param name="port" value="$(arg localPort)"/>
  </node>

  <node pkg="helm_manager" type="helm_manager_node" name="p11_helm_manager" ns="$(arg namespace)">
    <remap from="out/helm" to="control/helm"/>
    <remap from="out/cmd_vel" to="control/cmd_vel"/>
    <remap from="heartbeat" to="project11/heartbeat"/>
    <remap from="status/helm" to="project11/status/helm"/>
    <remap from="piloting_mode" to="project11/piloting_mode"/>
    <param name="piloting_mode_prefix" value="piloting_mode/"/>
  </node>


</launch>
