<launch>
  <arg name="drixNumber"/>
  <arg name="drixName" default="drix_$(arg drixNumber)"/>
  <arg name="namespace" default="project11/$(arg drixName)"/> 
  <arg name="localPort" default="4200"/>
  <arg name="operator_ip" default="192.168.$(arg drixNumber).180"/>
  <arg name="operator_port" default="4200"/>
  <arg name="enableBridge" default="true"/>


  <include file="$(find project11)/launch/robot_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
    <arg name="bridge_name" value="$(arg drixName)"/>
  </include>

  <node pkg="drix_helm" type="drix_helm_node" name="drix_helm" ns="$(arg namespace)">
    <param name="frame_id" value="$(arg namespace)/base_link"/>
  </node>

  <node pkg="ixblue_phins_adapter" type="ixblue_phins_adapter_node" name="phins_adaptor" ns="$(arg namespace)">
    <param name="frame_id" value="$(arg namespace)/base_link"/>
  </node>

  <node pkg="drix_helm" type="range_to_mothership" name="range_bearing" ns="$(arg namespace)">
  </node>

  <group ns="$(arg namespace)">
    <node pkg="s57_grids" type="s57_grids" name="s57_grids"/>

    <node pkg="project11" type="platform_send.py" name="platform_sender"/>
  </group>

  <group ns="$(arg namespace)/sensors/ais">
    <node pkg="marine_ais_tools" type="ais_parser.py" name="parser">
    </node>

    <node pkg="marine_ais_tools" type="ais_contact_tracker.py" name="tracker">
    </node>

    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="navsat">
      <remap from="nmea_sentence" to="nmea"/>
    </node>
  </group>

  <node pkg="marine_ais_tools" type="nmea_relay.py" name="ais_relay" ns="$(arg namespace)">
    <param name="input_type" value="udp"/>
    <param name="input_port" value="4010"/>
  </node>

  <include file="$(find drix_project11)/launch/usbl.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <rosparam command="load" file="$(find drix_project11)/config/drix.yaml" ns="$(arg namespace)"/>
  <param name="/$(arg namespace)/udp_bridge/remotes/operator/connections/default/host" value="$(arg operator_ip)"/>
  <param name="/$(arg namespace)/udp_bridge/remotes/operator/connections/default/port" value="$(arg operator_port)"/>
  <param name="/$(arg namespace)/hover_action/minimum_distance" value="15"/>
  <param name="/$(arg namespace)/hover_action/maximum_distance" value="30"/>
  <param name="/$(arg namespace)/mission_manager/waypoint_threshold" value="15"/>

  <rosparam file="$(find drix_project11)/config/navigator.yaml" command="load" ns="$(arg namespace)/navigator"/>

  <rosparam file="$(find drix_project11)/config/platform.yaml" command="load" ns="$(arg namespace)/project11/platforms/$(arg drixName)"/>

  <rosparam param="project11/platforms/$(arg drixName)/" ns="$(arg namespace)" subst_value="True">{robot_description: $(arg namespace)/robot_description, namespace: $(arg namespace)}</rosparam>
  <rosparam param="project11/platforms/$(arg drixName)/nav_sources/phins" ns="$(arg namespace)" subst_value="True">{position_topic: /$(arg namespace)/project11/nav/phins/position, orientation_topic: /$(arg namespace)/project11/nav/phins/orientation, velocity_topic: /$(arg namespace)/project11/nav/phins/velocity}</rosparam>

  <rosparam param="s57_grids/map_frame" ns="$(arg namespace)" subst_value="True">$(arg namespace)/map</rosparam>
  <rosparam param="s57_grids/robot/frame_id" ns="$(arg namespace)" subst_value="True">$(arg namespace)/base_link</rosparam>


</launch>
