<launch>
  <arg name="namespace" default="project11/operator"/>
  <arg name="drixNumber"/>
  <arg name="robotNamespace" default="project11/drix_$(arg drixNumber)"/>

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="1"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
  </include>

  <rosparam command="load" file="$(find drix_project11)/config/drix_operator.yaml" ns="$(arg namespace)"/>

  <rosparam param="udp_bridge/remotes/robot/host" ns="$(arg namespace)" subst_value="True">"192.168.$(arg drixNumber).180"</rosparam>

  <rosparam param="udp_bridge/remotes/robot/name" ns="$(arg namespace)" subst_value="True">"$(arg robotNamespace)"</rosparam>


</launch>