<launch>
  <arg name="namespace" default="project11/operator"/>
  <arg name="drixNumber"/>
  <arg name="robotNamespace" default="project11/drix_$(arg drixNumber)"/>
  <arg name="enableBridge" default="true"/>
  <arg name="enableTransforms" default="true"/>
  <arg name="logDirectory" default="/var/null"/>

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="1"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
  </include>

  <include file="$(find drix_description)/launch/load.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <include file="$(find drix_description)/launch/publish_state.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <node if="$(arg enableTransforms)" pkg="mru_transform" type="mru_transform_node" name="mru_transform" ns="$(arg robotNamespace)">
    <param name="base_frame" value="$(arg robotNamespace)/base_link"/>
    <param name="map_frame" value="$(arg robotNamespace)/map"/>
    <param name="odom_frame" value="$(arg robotNamespace)/odom"/>
  </node>

  <node pkg="drix_helm" type="range_to_drix" name="range_bearing" ns="$(arg namespace)">
    <param name="drixNumber" value="$(arg drixNumber)"/>
  </node>

  <rosparam command="load" file="$(find drix_project11)/config/drix_operator.yaml" ns="$(arg namespace)"/>
  <rosparam command="load" file="$(find drix_project11)/config/drix_operator_robot.yaml" ns="$(arg robotNamespace)"/>

  <rosparam param="udp_bridge/remotes/robot/host" ns="$(arg namespace)" subst_value="True">"192.168.$(arg drixNumber).180"</rosparam>

  <rosparam param="udp_bridge/remotes/robot/name" ns="$(arg namespace)" subst_value="True">"$(arg robotNamespace)"</rosparam>

  <rosparam param="udp_bridge/remotes/robot/topics/usbl_modem_send_raw/source" ns="$(arg namespace)" subst_value="True">"/$(arg robotNamespace)/project11/usbl_modem/send_raw"</rosparam>

  <node pkg="rosbag" type="record" name="project11_operator_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/project11_operator --split --duration=10m --lz4 -e &quot;/project11/(.*)&quot;"/>
</launch>