<launch>
  <arg name="namespace" default="project11/operator"/>
  <arg name="robotNamespace" default="project11/drix_1"/>
  <arg name="drixNumber" default="1"/>
  <arg name="bridgePort" default="4201"/>


  <include file="$(find drix_project11)/launch/operator_core.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="bridgePort" value="$(arg bridgePort)"/>
  </include>

  <rosparam param="udp_bridge/remotes/robot/connections/default/host" ns="$(arg namespace)" subst_value="True">"172.16.0.1"</rosparam>
  <rosparam param="udp_bridge/remotes/robot/connections/default/port" ns="$(arg namespace)" subst_value="True">4200</rosparam>
  <rosparam param="udp_bridge/remotes/robot/connections/vpn" ns="$(arg namespace)">{host: localhost, port: 4299}</rosparam>

</launch>