<launch>
  <arg name="namespace" default="project11/operator"/>
  <arg name="drixNumber"/>
  <arg name="robotNamespace" default="project11/drix_$(arg drixNumber)"/>
  <arg name="backgroundChart" default="$(find camp)/workspace/13283/13283_2.KAP"/>
  <arg name="rqt" default="false"/>
  <arg name="dual_camp" default="false"/>
  <arg name="usbl" default="false"/>
  <arg name="mesobot" default="false"/>
  <arg name="nui" default="false"/>

  <rosparam if="$(arg usbl)" command="load" file="$(find drix_project11)/config/usbl_operator.yaml" ns="$(arg namespace)"/>

  <rosparam if="$(arg mesobot)" command="load" file="$(find mesobot_project11)/config/mesobot_operator.yaml" ns="$(arg namespace)"/>

  <rosparam if="$(arg nui)" command="load" file="$(find nui_project11)/config/nui_operator.yaml" ns="$(arg namespace)"/>


  <include file="$(find project11)/launch/operator_ui.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="backgroundChart" value="$(arg backgroundChart)"/>
    <arg name="rqt" value="$(arg rqt)"/>
    <arg name="dual_camp" value="$(arg dual_camp)"/>
    <arg name="range_topic" value="to_drix_$(arg drixNumber)/range"/>
    <arg name="bearing_topic" value="to_drix_$(arg drixNumber)/bearing"/>
  </include>
</launch>