<launch>
  <arg name="namespace" default="project11/operator"/>
  <arg name="drixNumber"/>
  <arg name="robotNamespace" default="project11/drix_$(arg drixNumber)"/>
  <arg name="enableBridge" default="true"/>
  <arg name="bridgePort" default="4200"/>
  <arg name="robotBridgeName" default="drix_$(arg drixNumber)"/>
  <arg name="robotHost" default="echodw"/>
  <arg name="enableTransforms" default="true"/>
  <arg name="logDirectory" default="/dev/null"/>
  <arg name="operatorJoystick" default="false"/>
  <arg name="mbrLogger" default="false"/>

  <include file="$(find project11)/launch/operator_core.launch">
    <arg name="operatorJoystick" value="$(arg operatorJoystick)"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="robotNamespace" value="$(arg robotNamespace)"/>
    <arg name="enableBridge" value="$(arg enableBridge)"/>
    <arg name="robotBridgeName" value="$(arg robotBridgeName)"/>
    <arg name="localPort" value="$(arg bridgePort)"/>
  </include>

  <include file="$(find drix_description)/launch/load.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <include file="$(find drix_description)/launch/publish_state.launch">
    <arg name="drixNumber" value="$(arg drixNumber)"/>
    <arg name="namespace" value="$(arg robotNamespace)"/>
  </include>

  <node if="$(arg enableTransforms)" pkg="mru_transform" type="mru_transform_node" name="mru_transform" ns="$(arg robotNamespace)">
    <param name="base_frame" value="$(arg robotNamespace)/base_link"/>
    <param name="map_frame" value="$(arg robotNamespace)/map"/>
    <param name="odom_frame" value="$(arg robotNamespace)/odom"/>
  </node>

  <node pkg="drix_helm" type="range_to_drix" name="range_bearing" ns="$(arg namespace)">
    <param name="drixNumber" value="$(arg drixNumber)"/>
  </node>

  <group if="$(arg mbrLogger)" ns="$(arg namespace)">
    <node pkg="mbr" type="mbr_logging.py" name="mbr_node"/>
    <rosparam command="load" file="$(find ccomjhc_project11)/configuration/mbr.yaml"/>
    <param name="ipaddress" value="mbr-operator-drix"/>
  </group>

  <rosparam command="load" file="$(find drix_project11)/config/drix_operator.yaml" ns="$(arg namespace)"/>

  <rosparam param="udp_bridge/remotes/robot/connections/default/host" ns="$(arg namespace)" subst_value="True">"$(arg robotHost)"</rosparam>

  <!-- <rosparam param="udp_bridge/remotes/robot/connections/vpn/topics" ns="$(arg namespace)" subst_value="True">{project11_command: {source: /$(arg robotNamespace)/project11/command}, piloting_mode_manual_helm: {source: /$(arg robotNamespace)/project11/piloting_mode/manual/helm}}</rosparam> -->

  <rosparam param="udp_bridge/remotes/robot/connections/default/topics/usbl_modem_send_raw/source" ns="$(arg namespace)" subst_value="True">"/$(arg robotNamespace)/usbl_modem/send_raw"</rosparam>

  <node pkg="rosbag" type="record" name="project11_operator_logger"  ns="$(arg namespace)" args="-o $(arg logDirectory)/project11_operator --split --duration=10m --lz4 -e &quot;/project11/(.*)&quot;"/>
</launch>
