<launch>
  <node pkg="snmp_diag" type="snmp_diag_node" name="snmp_wifi240">
    <rosparam param="oids">[ifInOctets.8, ifOutOctets.8]</rosparam>
    <param name="host" value="192.168.0.240"/>
  </node>
  <node pkg="snmp_diag" type="snmp_diag_node" name="snmp_wifi243">
    <rosparam param="oids">[ifInOctets.8, ifOutOctets.8]</rosparam>
    <param name="host" value="192.168.0.243"/>
  </node>
</launch>
