<launch>
  <arg name="drixNumber" default="8"/>
  <arg name="namespace" default="project11/drix_$(arg drixNumber)"/>

  <node pkg="sonardyne_usbl" type="ranger_node.py" name="usbl_ranger" ns="$(arg namespace)">
    <param name="host" value="survey_pc"/>
  </node>
  <node pkg="sonardyne_usbl" type="modem_node.py" name="usbl_modem" ns="$(arg namespace)">
    <param name="connection/type" value="udp"/>
    <param name="connection/host" value="survey_pc"/>
    <param name="connection/input_port" value="50011"/>
    <param name="connection/output_port" value="50010"/>
  </node>

  <!-- <node pkg="sonardyne_sounder" type="sounder_node.py" name="usbl_raw" ns="$(arg namespace)"/> -->
</launch>